<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <title>Learning Vue</title>
  </head>
  <body>
    <div id="app" v-html="text"></div>
    <p id="name"><strong>Nome:</strong> {{name}}</p>
    <div id="score">
      Total de Pontos: {{score}}
      <br />
      <strong v-if="score > 5">{{info}}</strong>
    </div>
    <div id="list">
      <ul>
        <li v-for="person in people">
          <strong>Nome:</strong> {{person.name + " "}}<span
            v-text="person.lastName"
          ></span>
          <span><strong>Idade:</strong>{{" " + person.age}}</span>
        </li>
      </ul>
    </div>
    <script src="script.js"></script>
  </body>
</html>
